<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <a href="profile.html">
            <span class="pull-right glyphicon glyphicon-ok"></span></a>

        <a class="navbar">Profile</a>
    </div>
</nav>

<div class="container-fluid">

    <label for="firstName">First Name</label>
    <input name="firstName"
           ng-model="model.user.firstName"
           class="form-control"
           id="firstName"/>

    <label for="lastName">Last Name</label>
    <input name="lastName"
           ng-model="model.user.lastName"
           class="form-control"
           id="lastName"/>

    <label for="username">Username</label>
    <input name="username"
           ng-model="model.user.username"
           readonly
           class="form-control"
           id="username"/>

    <label for="email">Email</label>
    <input name="email"
           type="email"
           id="email"
           ng-model="model.user.email"
           class="form-control"/>

    <label for="dob">Date of Birth</label>
    <input name="dob"
           type="date"
           class="form-control"
           id="dob"/>

    <a class="btn btn-default btn-primary btn-block"
       role="button"
       href="#!/user/{{model.user._id}}/website">Websites</a>

    <a class="btn btn-default btn-danger btn-block"
       role="button"
       href="#!/login">Logout</a>

    <a class="btn btn-default btn-danger btn-block"
       role="button"
       ng-click=model.deleteUser(model.user._id)>Delete</a>

    <a class="btn btn-default btn-primary btn-block"
       role="button"
       ng-click=model.updateUser(model.user._id,model.user)>Update</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="../User/profile.html">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>