input, textarea {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
    margin-bottom: 60px;
}

.gb-navbar-style {
    height: 55px;
    background-color: #337ab7;
    border-color: #333;
}

.gb-navbar-style a {
    color: white;
}

.gb-navbar-style .glyphicon-ok {
    background-color: transparent;
    background-image: none;
    border: none;
    color: white;
    top: 25px;
    right: 15px;
}

.gb-navbar-style .glyphicon-plus {
    background-color: transparent;
    background-image: none;
    border: none;
    color: white;
    top: 25px;
    right: 15px;
}


/**
.navbar-default {
    height: 55px;
    background-color: #337ab7;
    border-color: #333;
}

.navbar-default .navbar-brand {
    color: #337ab7;
}

.navbar-default .navbar-nav>li>a {
    color: #337ab7;
}

.navbar span, .navbar a {
    color: #337ab7;
}
*/
.scrollable-left {
    position: absolute;
    top: 50px;
    bottom: 0px;
    overflow: initial;
    padding-top: 15px;
    padding-bottom: 30px;
}

.wd-widget {
    position: relative;
    margin-bottom: 20px;
}

.wd-toolbar{
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    opacity: 0.8;
}

.gb-youtubeVideo {
    position: relative;
    padding-bottom: 50%;
    padding-top: 25px;
    height: 0;
}

.gb-youtubeVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .col-sm-8 {
        margin-left: 33%;
    }
}

.glyphicon-user {
    padding-top: 16px;
    right: 15px;
}

/**
.glyphicon-plus, .glyphicon-ok {
    background-color: transparent;
    background-image: none;
    border: none;
    color: white;
    top: 25px;
    right: 15px;
}
**/



.gb-plus-glyph-position .glyphicon-plus {
    top: 3px;
    right: 0px;
    float: right;
}

.glyphicon-cog {
    color: #337ab7;
}

.split-view-left {
    position: absolute;
    top: 60px;
    bottom: 0px;
    z-index: 1;
    overflow-y: scroll;
}
