input, textarea {
    margin-bottom: 5px;
}

.gb-gauhar-navbar {
    text-align: center;
}

.gb-linkedin {
    text-align: right;
}
.gb-navbar-style {
    font-weight: bold;
    padding-top: 15px;
    background-color: #fcf8e3;
    background-image: none;
}

h2{
    margin: 0.0px 0.0px 14.9px 0.0px;
    font: 18.0px
    Times;
    color: #204d74;
    -webkit-text-stroke-color: #000000;
}

html {
    background: url('http://7news.kz/sites/default/files/1431060560ohlvy.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.gb_box {
    margin: 30px;
    padding: 25px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); }

body {
    padding-top: 70px;
    margin-bottom: 60px;
    background-color: transparent;

}
body h1 {
    text-align: center;
}

p {
    color: black;
    text-decoration-color: black;
    text-emphasis-color: black;
    font-weight: bold;
}

.gb-welcome {
    width: 50%;
    margin: 0 auto;
}
