<nav class="navbar navbar-default navbar-fixed-top">
    <div class="gb-navbar-style">
        <div class="container-fluid">

            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="pull-right glyphicon glyphicon-ok"></span></a>

            <a class="navbar"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>Widgets</a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <ul class="list-group">

        <li class="list-group-item">
            <a href="widgetHEADING.view.client.html">Header</a>
        </li>


        <li class="list-group-item">Label</li>

        <li class="list-group-item">HTML</li>

        <li class="list-group-item">Text Input</li>

        <li class="list-group-item">Link</li>

        <li class="list-group-item">Button</li>

        <li class="list-group-item">
            <a href="widgetIMAGE.view.client.html">Image</a>
        </li>

        <li class="list-group-item">
            <a href="widgetYOUTUBE.view.client.html">Youtube</a>
        </li>

        <li class="list-group-item">Data Table</li>

        <li class="list-group-item">Repeater</li>

    </ul>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
