<nav class="navbar navbar-default navbar-fixed-top">
    <div class="gb-navbar-style">
        <div class="container-fluid">

            <a href="../back_up(assignment2)/widget-choose.html">
                <span class="pull-right glyphicon glyphicon-plus"></span></a>

            <a class="navbar" href="../back_up(assignment2)/page-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>Widgets</a>

        </div>
    </div>
</nav>

<div class="container-fluid">

    <div ng-repeat="widget in model.widgets"
         class="wd-widget">
        <!-- wd-toolbar: allows to position toolbar on the widgets -->
        <div class="wd-toolbar">
            <a href="../back_up(assignment2)/widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>



        <div ng-include="model.getWidgetUrlForType(widget.widgetType)"></div>

    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>

