<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <a href="#!/user/{{model.userId}}/website/new">
            <span class="pull-right glyphicon glyphicon-plus"></span></a>

        <a class="navbar" href="#!/user/{{model.userId}}">
            <span class="glyphicon glyphicon-chevron-left"></span>Websites</a>
    </div>
</nav>

<div class="container-fluid">

    <ul class="list-group">

        <li class="list-group-item active">
            <div class="row">
                <a href="../back_up(assignment2)/page-list.html">
                    <div class="col-lg-4 col-md-7 col-sm-10 col-xs-10">Website Name</div>
                </a>
                <div class="col-lg-3 visible-lg">
                    Created
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    Updated
                </div>
                <div class="col-sm-2">
                    <a href="#!/user/{{model.userId}}/website/new">
                        <span class="pull-right glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </li>
<!-- Old styling, working list
        <li class="list-group-item active">
            <div class="row">
                <a href="../back_up(assignment2)/page-list.html">
                    <div class="col-xs-10 col-sm-4">Website Name</div>
                </a>
                <div class="col-sm-4 hidden-xs">
                    Created
                </div>
                <div class="col-sm-2 hidden-xs">Updated</div>
                <div class="col-xs-2">
                    <a href="#!/user/{{model.userId}}/website/new">
                        <span class="pull-right glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </li>
        -->

        <li ng-repeat="website in model.websites" class="list-group-item">
            <div class="row">
                <a href="../back_up(assignment2)/page-list.html">
                    <div class="col-lg-4 col-md-7 col-sm-10 col-xs-10">{{website.name}}</div>
                </a>
                <div class="col-lg-3 visible-lg">
                    {{website.created | date}}
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    {{website.updated | date}}
                </div>
                <div class="col-sm-2">
                    <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                        <span class="pull-right glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="../back_up(assignment2)/profile.html">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
