<nav class="navbar navbar-default navbar-fixed-top">
    <div class="gb-navbar-style">

        <div class="container-fluid">

            <a href="#!/user/{{model.userId}}/website">
                <span class="pull-right glyphicon glyphicon-ok"></span></a>

            <a class="navbar" href="#!/user/{{model.userId}}/website">
                <span class="glyphicon glyphicon-chevron-left"></span>Edit Website</a>
        </div>

    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <!--  <div class="col-xs-3 visible-lg split-view-left"> -->
        <div class="col-md-3 hidden-xs hidden-sm">

            <ul class="list-group">

                <li class="list-group-item active">
                    <div class="gb-table-header">
                    <div class="row">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                            <div class="col-lg-10 col-md-10 hidden-sm hidden-xs">Website Name</div>
                        </a>

                        <div class="col-md-2">
                            <a href="#!/user/{{model.userId}}/website/new">
                                <span class="pull-right glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                    </div>
                </li>

                <li ng-repeat="website in model.websites" class="list-group-item">
                    <div class="row">
                        <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                            <div class="col-lg-10 col-md-10 hidden-sm hidden-xs">{{website.name}}</div>
                        </a>

                        <div class="col-md-2">
                            <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                                <span class="pull-right glyphicon glyphicon-cog"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!--  <div class="col-xs-12 col-lg-9 split-view-right"> -->
        <div class="col-xs-12 col-md-9 col-lg-9 split-view-right">

            <label for="name">Name</label>
            <input id="name"
                   ng-model="model.website.name"
                   class="form-control"/>

            <label for="description">Description</label>
            <textarea id="description"
                      ng-model="model.website.description"
                      rows="5"
                      class="form-control"></textarea>

            <a ng-click="model.updateWebsite(model.website)"
               class="btn btn-default btn-success btn-block"
               role="button">Update</a>

            <a ng-click="model.deleteWebsite(model.website)"
               class="btn btn-default btn-danger btn-block"
               role="button">Delete</a>

        </div>

    </div>


</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
