<nav class="navbar navbar-default navbar-fixed-top">
    <div class="gb-navbar-style">
        <div class="container-fluid">

            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="pull-right glyphicon glyphicon-ok"></span></a>

            <a class="navbar"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>New Image Widget</a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input name="name"
           placeholder="Widget Name"
           class="form-control"
           id="name"/>

    <label for="text">Text</label>
    <input name="text"
           placeholder="Type in text"
           class="form-control"
           id="text">
    </input>


    <label for="url">URL</label>
    <input name="url"
           value="https://some-website.com/image"
           class="form-control"
           id="url"/>

    <label for="percentage">Width</label>
    <input name="percentage"
           value="100%"
           class="form-control"
           id="percentage"/>

    <label for="file">Upload</label>
    <input type="file"
           class="form-control"
           id="file"/>

    <a class="btn btn-default btn-success btn-block"
       ng-click="model.createWidget(model.pageId, model.widget)"
       role="button">Upload Image</a>

</div>


<div ng-include="'views/common/footer.view.client.html'"></div>
