<nav class="navbar navbar-default navbar-fixed-top">
    <div class="gb-navbar-style">

        <div class="container-fluid">

            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                <span class="pull-right glyphicon glyphicon-ok"></span></a>

            <a class="navbar" href="#!/user/{{model.userId}}/website/">
                <span class="glyphicon glyphicon-chevron-left"></span>Pages</a>
        </div>

    </div>
</nav>

<div class="container-fluid">

    <ul class="list-group">

        <li ng-repeat="page in model.pages" class="list-group-item">
            <div class="row">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    <div class="col-xs-9">{{page.name}}</div>
                </a>

                <div class="col-xs-3">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/edit">
                        <span class="pull-right glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>


</div>

<div ng-include="'views/common/footer.view.client.html'"></div>